// Custom styles.
.header { background: transparent; }
.post-toc .nav .nav-child{ display: block;}
.post-toc ol a,.sidebar a,.sidebar-inner,.sidebar-nav li,.site-description{color:#fff}
.menu .menu-item .fa{ font-size:20px;}
